body{
    background-color: black;
    color: white;
    font-family: 'Snowburst One', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}
.wrap{
    display: grid;
    grid-template-columns: 5 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.one{
    grid-column: 1;
    grid-row: 1/4;
}


#room{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin: -150px 0px 0px -200px;
    justify-content: center;
    padding: 5px;
}

#room form input{
    margin: 10px;
}

.nav-bar{
    background-color: #404040;
    width: 100%;
    display: inline-block;
}

.nav-item{
    list-style-type: none;
    float: left;
    width: 61px;
    height: 41px;
    text-align: center;
}

.nav-item a{
    text-decoration: none;
    color: white;
    display: block;
    height: 75%;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.nav-item a:hover{
    background-color: grey;
}

.footer{
    margin: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    width: max-content;
}

.nav-bar-bottom{
    background-color: #404040;
    width: 100%;
    position: relative;
    bottom: 0;
}


#chat button{
    width: 150px;
    height: max-content;
}

#chat .nav-content{
    display: flex;
    padding: 0;
    margin: 0;
}

#camera{
    width: max-content;
}