body{
    background-color: black;
    color: white;
    font-family: 'Snowburst One', cursive;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

div{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav-container{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item{
    float: left;
}

.nav-item a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
}